<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>404: Not Found</title>
</head>

 <body>
  <div class="not-found">
    <h1>404 Not Found</h1>
  <h2>The page you requested could not be found.</h2>
    <a class="btn" href="/">Go back</a>
  </div>
</body>

</html>


